/* Author: Jona Kaufmann */


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.rightHeader a {
  text-decoration: none;
  color: #333;
  padding: 1vw;
}

.rightHeader a:hover {
  text-decoration: underline;
}
